body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-info {
  display: block;
  /* outline: 1px green solid; */
}

.movie-info-logo {
  /* outline: 1px blue solid; */
  float: left;
  width: 33%;
}

.movie-info-logo img {
  width: 100%;
}

.movie-info-content {
  padding: 0 20px 0 35px;
  /* outline: 1px red solid; */
  float: left;
  width: 66%;
}

@media (max-width: 1150px) {
  .movie-info-logo {
    float: left;
    width: 100%;
  }

  .movie-info-logo img {
    display: none;
  }

  .movie-info-content {
    float: left;
    width: 100%;
  }
};
